:root {
  --white: #ffffff;

  --black: #021001;

  --red: #ff6161;
  --blue: #112592;

  --purple-pri: #7040ff;
  --purple-sec: #faf9ff;
  --purple-thi: #6f068a09;

  --red-pri: #4b5ea8;

  --gray-100: #f1f1f1;
  --gray-200: #dddddd;
  --gray-300: #b7b7b7;

  background-color: var(--white);

  font-family: Pretendard;

  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
* {
  font-family: Presentation;
}
#root {
  width: 375px;
  height: 100svh;
  margin: 0 auto;
}
@media (max-width: 374px) {
  #root {
    width: 100svh;
  }
}

@font-face {
  font-family: "Presentation";
  src: url("../public/fonts/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
}
